Source: ros-melodic-message-runtime
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://ros.org/wiki/message_runtime
Standards-Version: 3.9.2

Package: ros-melodic-message-runtime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-cpp-common, ros-melodic-genpy, ros-melodic-roscpp-serialization, ros-melodic-roscpp-traits, ros-melodic-rostime
Description: Package modeling the run-time dependencies for language bindings of messages.
