Source: ros-kinetic-message-runtime
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/message_runtime
Standards-Version: 3.9.2

Package: ros-kinetic-message-runtime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cpp-common, ros-kinetic-genpy, ros-kinetic-roscpp-serialization, ros-kinetic-roscpp-traits, ros-kinetic-rostime
Description: Package modeling the run-time dependencies for language bindings of messages.
